/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles to apply to body */

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1000px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-card {
    width: 100%;
    background-color: white;
    border: 2px solid gray;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1rem;
    overflow: hidden;
}

.card-header {
    background-color: rgb(23, 162, 184);
    height: 125px;
    margin-bottom: 70px;
}

.card-body {
    padding: 20px;
    margin-right: 20px;
}

.card-body h1,
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.avatar-m {
    border-radius: 50%;
    background-color: white;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: rgb(8, 83, 148);
}
